<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen flex flex-col justify-center items-center bg-slate-500">
    <div class="w-[55rem] shadow p-2 rounded-lg bg-white">
        <h1 class="text-5xl text-center text-green-400">درخواست شما با موفقیت ثبت شد</h1>
        <h1 class="text-center">بزودی منشی پزشک با شما تماس برقرار میکند</h1>
        <a href="/" class="btn btn-neutral">بازگشت به صفحه اصلی</a>
    </div>
  </body>
</html>
